
{% extends 'base2.html' %}
	

    
    
	 {% block body %}  
    
       <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand" href="#"><h1>Hire Me!</h1></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainMenu" aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
      </nav>

   

<p></p>
<p></p>


<div class="btn btn-default btn-block">
  <div class="col-md-9 text-center"> 
       <a href = "{% url 'home' %}" ><button type="button" class="btn btn-success">Enter Site!</button></a>
       </div>
</div>





     {% endblock %}

     