{% extends 'base.html' %}

{% block title %}Start a New Service{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="#">Hire Me!!</a></li>
  <li class="breadcrumb-item active">New Service</li>
{% endblock %}

{% block content %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
  <form method="post">
    {% csrf_token %}
    {{ form.media }}
    {{ form.as_p }}
    <button type="submit" class="btn btn-success">Post</button>
  </form>
{% endblock %}