
{% extends 'base.html' %}
	
     {% block breadcrumb %}
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Services</a></li>
        <li class="breadcrumb-item"><a href="#"> {{ service.name }} </a></li>
        <li class="breadcrumb-item"><a href="#"> Review </a></li>
       {% endblock %}

	 {% block content %}  
   <a href = "#" < button type="submit" class="btn btn-primary"> New</button></a>
   <p></p>
    {{service.namee}}
    {{service.price}}
    {{service.location}}
     {% endblock %}     
