
{% extends 'base.html' %}
	
     {% block breadcrumb %}
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Services</a></li>
       {% endblock %}
	 {% block content %}  

  <a href = "{% url 'new_service' %}">  <button type="submit" class="btn btn-success">New</button></a>
    <p></p>
    <table class="table">
        <thead class="thead-inverse">
          <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Last Updated</th>
           </tr>
        </thead>
        <tbody>
           {% for service in services %}
            <tr>
              <td>
               <a href="{% url 'serve_list' service.pk %}">  {{ service.name }}</a>
                <small class="text-muted d-block"></small>
              </td>
              <td class="align-middle">{{service.category}}</td>
              <td class="align-middle">  {{ service.last_updated}}</td>
              <td></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

     {% endblock %}     
