
{% extends 'base.html' %}

	
     {% block breadcrumb %}
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Services</a></li>
       {% endblock %}
	 {% block content %}  
    <p></p>
    {{service.namee}}
    <p></p>
    {{service.price}}
    <p></p>
    {{service.service}}
    <p></p>
    {{service.location}}
    <p></p>
    {{service.position}}
    <p></p>
    {{service.upvotes}} 
    <center><button id="clap" class="btn btn-success">Upvote</button></center>
    <p></p>
    {{service.downvotes}} 
   <center> <button id="clap" class="btn btn-success">Downvote</button></center>
    {% endblock %}
